.anime-container {
  display: flex;
  flex-direction: row; /* Items will be displayed horizontally */
  flex-wrap: wrap; /* Wrap items to a new row when there's not enough space */
  justify-content: flex-start; /* Adjust as needed for horizontal alignment */
  gap: 20px; /* Space between items */
}

.anime-box {
  text-align: center; /* Center content within each box */
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.name-container {
  padding: 10px;
  white-space: normal;
}

.anime-banner {
  width: 200px; /* Set the desired width for your product images */
  height: auto; /* Automatically adjust the height based on the image's aspect ratio */
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.anime-box a {
  font-size: 1rem;
  margin: 0;
  text-decoration: none;
}

.anime-box:hover {
  transform: scale(1.05);
}


.filterbutton {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.filterbutton:hover{
  transform: scale(1.05);

}
.clicked {
  background-color: green;
}