{% load static %}
<head>
 <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
  <div>
    <div style="text-align: center;" >
      <a href="{% url 'home' %}"><p>Suggestforme</p></a>
     </div>
    <div>
    {% if request.user.is_authenticated %}
    <div class="user-profile">
      <img src="{{request.user.avatar.url}}" alt="Profile Picture" class="profile-picture">
      <a href="{% url 'profile' %}"><span class="username">{{request.user}}</span></a>
    </div>
    <div>
      <button class='log-button' data-href="{% url 'logout' %}">Logout</button>
      <hr>
      {% else %}
      <button class='log-button' data-href="{% url 'login' %}">Please Login for Full functionality of website</button>
      <hr>
    </div>
    {% endif %}
    <div class="centered-container">
      <form method="POST" action="{% url 'searchanime' %}" class="search-form">
        {% csrf_token %}
    
        <!-- Dropdown for Category -->
        <select name="cat" id="cat-input">
          <option value="">Select filter by</option>
          <option value="genres">Genre</option>
          <option value="startyear">Aired on</option>
          <option value="format">Format</option>
          <option value="status">Status</option>
        </select>
    
        <input type="text" name="q" placeholder="Search anime" />
        <button type="submit">Submit</button>
      </form>
    </div>
      <script src="/static/js/searchanime.js"></script>
    </div>
    
  </div>
</body>