{% load static %}
<html>
  <head>
    <title>Suggestforme</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  </head>

  <body>
     <p>Disclaimer:Please create account to test watched anime tracking,Information are provided only for some anime will be updating database soon</p>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
   {% endif %}

    <script src="/static/js/main.js"></script>
  </body>
</html>